#box {
    border: 10px  outset #4d0a29;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    width: 700px;
    height: 275px;
    font-family: optima;
    color: white;
    background: background-color: #556;
    background-image: linear-gradient(30deg, #445 12%,     transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%,   transparent 87%, #445 87.5%, #445),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
background-size: 80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
  
  body {
    background-color: #292627;
    padding: 5px;
  }
  
  h1 {
    font-family: optima;
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
    text-shadow: 2px 2px #4d0a29;
  }
  
  h2 {
    font-family: monospace;
    font-size: 1.7em;
    margin-top: 10px;
    margin-bottom:10px;
    color: white;
    text-shadow: 2px 2px #4d0a29;
  }
  
  p {
    font-size: 1.2em;
    color: white;
    margin: auto;
  }
  
  span {
    font-family: impact;
    font-size: 1.5em;
    color: #ebc7c7;
    text-shadow: 2px 2px #4d0a29;
    font-stretch: ultra-expanded;
  }
  
  form {
    font-size: 1.2em;
    margin: auto;
    background: black;
    width: 60%;
    height: 70px;
    border-radius: 15px;
    padding: 8px;
  }
  
  img {
    width: 230px;
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  } 
  